*.DS_Store
.vscode/*
ressources/*
*.txt
*/*.o
*.o
*.code-workspace
*.out*
*.bmp
.fuse*
cub3d
libft.a
libft/libft.a
bonus
cub3D
ft_printf/libftprintf.a
libmlxlinux/libmlx_Linux.a
libmlxlinux/libmlx.a
libmlxlinux/test/mlx-test
*.xcf
